<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Confirm Location</h3>
	</div>
	<div class="panel-body">
		<form name="form" (ngSubmit)="f.form.valid && verifyNumber()" #f="ngForm" novalidate>
			<label for="location">Please scan/enter location</label>
			<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !location.valid }">
				<input type="text" name="location" class="form-control" [(ngModel)]="model.location" #location="ngModel" required />
				<div *ngIf="f.submitted && !location.valid" class="help-block">Location number is required</div>
			</div>
			<div class="form-group">
				<button [disabled]="loading" class="btn btn-primary">Submit</button>
				<img *ngIf="loading" src="app/images/loading.gif" />
			</div>
		</form>
	</div>
</div>